# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script 1'

- task: DownloadSecureFile@1
  name: keyPem
  inputs:
    secureFile: eg-monitor-keypair.pem

- script: |
    echo Installing $(keyPem.secureFilePath) to the trusted CA directory...
    ssh -i $(keyPem.secureFilePath) ec2-user@18.183.144.84 "ls -a"
  displayName: 'test to link script show secure file'